.choices {
    position: relative;
    cursor: pointer;

    &.is-focused {
        outline: none;

        & .choices__list--single {
            border-color: $link-color;
        }

        &.is-open {
            & .choices__list--single {
                border-bottom-color: transparent;
                border-radius: $select-radius $select-radius 0 0;
            }
        }
    }
}

.choices__list--single {
    @include dflex(nowrap, row, flex-start, center);
    position: relative;
    width: 100%;
    height: 45px;
    padding: 0 30px 0 15px;
    font-size: 15px;
    background-color: $link-disabled-color;
    border: 1px solid $input-border-color;
    border-radius: $select-radius;
    transition: border-color $transition, background-color $transition;

    &:hover {
        border-color: $link-disabled-bg-color;
    }

    &::after {
        @include abs-center-y;
        @include background("../img/icon-select-arrow.svg");
        right: 15px;
        left: auto;
        width: 16px;
        height: 16px;
    }
}

.form__item--error .choices__list--single {
    border-color: $alert-color;
}

.choices__placeholder {
    color: $input-placeholder-color;
    opacity: 1;
}

.choices.is-open .choices__list--single {
    background-color: #fff;
}

.choices__list--dropdown {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    display: none;
}

.choices__list--dropdown.is-active {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid $link-color;
    border-top-color: transparent;
    border-radius: 0 0 $select-radius $select-radius;
    z-index: 10;
}

.choices__list--dropdown .choices__list {
    @include dflex(nowrap, column, flex-start, stretch);
    gap: 15px;
}

.choices__item {
    font-size: 15px;
    line-height: 1.5;
    cursor: pointer;
    transition: color $transition;

    &.is-highlighted {
        color: $link-color;
    }
}

.choices__input.form__item-input {
    position: absolute;
    top: -43px;
    left: 0;
    width: 100%;
    height: 42px;
    background-color: #fff;
    border: none;
}

.form__item-body--search-select .choices__list--dropdown::after {
    @include abs-pseudo;
    @include background("../img/icon-select-arrow.svg");
    top: -30px;
    right: 15px;
    left: auto;
    width: 16px;
    height: 16px;
}

@media (min-width: $tablet-width) {
    .choices__list--single {
        height: 51px;
        font-size: 18px;
    }

    .choices__item {
        font-size: 18px;
    }

    .choices__input.form__item-input {
        top: -49px;
        height: 50px;
    }

    .form__item-body--search-select .choices__list--dropdown::after {
        top: -33px;
    }
}