*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    @include reset;
    @include dflex(nowrap, column, flex-start, stretch);
    height: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    font-family: "Inter Tight", "Arial", sans-serif;
    color: $text-color;
    background-color: #fff;

    &.fixed {
        padding-right: 17px;
        overflow: hidden;
    }
}

main {
    flex-grow: 1;
}

a {
    color: $link-color;
    text-decoration: none;
    transition: color $transition;

    &:hover,
    &:focus {
        color: $link-hover-color;
        outline: none;
    }
}

button {
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

label {
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
select,
textarea {
    &:focus {
        outline: none;
    }
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    max-width: 1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.hidden-input {
    position: absolute;
    width: 1px;
    height: 1px;
    max-width: 1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

h1 {
    margin: 0 0 30px;
    font-weight: 600;
    line-height: 1.5;
    font-size: 26px;
}

h2 {
    margin: 0 0 30px;
    font-weight: 600;
    line-height: 1.5;
    font-size: 20px;
}

h3 {
    margin: 0 0 15px;
    font-weight: 600;
    line-height: 1.5;
    font-size: 18px;
}

h4 {
    margin: 0 0 15px;
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
}

h5 {
    margin: 0 0 15px;
    font-weight: 600;
    line-height: 1.5;
    font-size: 15px;
}

h6 {
    margin: 0 0 15px;
    font-weight: 600;
    line-height: 1.5;
    font-size: 14px;
}

p {
    margin: 0 0 30px;
    line-height: 1.6;
}

p:last-child {
    margin-bottom: 0;
}

@media (min-width: $desktop-width) {
    body {
      font-size: 18px;
      //line-height: 28px;
    }

    h1 {
        margin: 0 0 45px;
        font-size: 38px;
    }

    h2 {
        margin: 0 0 45px;
        font-size: 32px;
    }

    h3 {
        margin: 0 0 30px;
        font-size: 28px;
    }
    
    h4 {
        margin: 0 0 30px;
        font-size: 24px;
    }

    h5 {
        margin: 0 0 30px;
        font-size: 20px;
    }

    h6 {
        margin: 0 0 30px;
        font-size: 18px;
    }
}
