$text-color: #383838;
$link-color: #1E7ED7;
$link-hover-color: #0D5EAA;
$link-disabled-bg-color: #D2D2D2;
$link-disabled-color: #F7F9FA;
$btn-hover-bg-color: #E1F0FD;
$alert-color: #DC4D40;
$input-border-color: #F2F5F7;
$input-placeholder-color: #8C8C8C;
$file-size-color: #E4E4E4;
$divider-color: #E9E9E9;

$btn-radius: 10px;
$select-radius: 5px;
$modal-radius: 20px;
$checkbox-radius: 4px;
$transition: .3s;

$tablet-width: 768px;
$desktop-width: 1200px;
